@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-width {
  width: 350px;
}

.mobile-image-background {
  position: absolute;
  top: -10px;
  left: 30px;
}

.desktop-image-background {
  position: absolute;
  top: -10px;
  left: 30px;
}

.woman-image {
  position: absolute;
  top: -130px;
  left: 30px;
}

.linear-grad {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  z-index: 30;
}

.reset-color {
  background: white;
}

.segment input:checked ~ .content {
  display: block;
}

.segment input:checked + .question {
  font-weight: 800;
}

.segment input:checked + .question .arrow {
  rotate: 180deg;
}

label:active {
  cursor: pointer;
}

label:active div {
  color: hsl(14, 88%, 65%);
}

.width-16 {
  width: 16.8rem;
}

.width-19 {
  width: 19rem;
}

.woman-image-desktop {
  position: absolute;
  top: 0px;
  left: -90px;
  z-index: 10;
}

@media (min-width: 641px) {
  .center-element {
    margin: 0 auto;
  }
}

/* background: [background-image] [background-position] / [background-size] [background-repeat]
 [background-attachment] [background-origin] [background-clip] [background-color]; */
